{% extends "base.html" %}
{% load static %}

{% block content %}

    <div>
        <h1 class="text text-center mb-5 mt-5">À propos de mon "PASSGEN"</h1>
    </div>

    <div class="container">

        <p style="line-height: 3;">Nous avons créé ce site dans le but de vous offrir un outil simple et pratique pour
            générer des mots de passe forts et sécurisés.
            Nous comprenons à quel point il est important de protéger vos comptes en ligne et c'est pour cette raison
            que nous avons mis en
            place ce service gratuit.
        </p>

        <p style="line-height: 3;">
            Notre générateur de mots de passe vous permet de choisir la longueur et la complexité du mot de passe que
            vous souhaitez obtenir.
            Vous pouvez également spécifier les caractères à inclure ou exclure dans votre mot de passe.</p>

        <p style="line-height: 3;">
            Nous espérons que vous apprécierez notre site et n'hésitez pas à nous faire part de vos commentaires ou
            suggestions d'amélioration.
            Bonne navigation !
            L'équipe de
            <strong>PassGen</strong>
        </p>

    </div>
{% endblock %}