{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>

    </style>
    <div>
        <h1 class="text text-center mb-5 mt-5">Mentions légales</h1>
    </div>

    <div class="container">

        <h3>Informations
            <strong>Editeur</strong>
        </h3>

        <p class="mb-5 mt-2" style="line-height: 2;">
            Ce site est édité par [nom de l'éditeur], une [nature de l'entité éditrice] immatriculée sous le numéro
            [numéro d'immatriculation] et dont le siège social est situé à [adresse du siège social].

            Directeur de la publication : [nom du directeur de la publication]
        </p>

        <h3>Informations
            <strong>hebergeur</strong>
        </h3>

        <p class="mb-5 mt-2" style="line-height: 3;">
            Le site [nom de votre site] est hébergé par HEROKU, une société américaine dont le siège social est situé à
            650 7th Street, San Francisco, CA 94103, USA.
        </p>

        <h3>Informations
            <strong>Données personnelles</strong>
        </h3>

        <p class="mb-5 mt-2" style="line-height: 2;">
            Les données personnelles collectées sur ce site sont uniquement destinées à l'usage de PASSGEN. Elles ne
            sont en aucun cas cédées à des tiers.
            Conformément à la loi n°78-17 du 6 janvier 1978 modifiée en 2004 relative à l'informatique, aux fichiers et
            aux libertés, vous disposez d'un droit d'accès,
            de rectification et de suppression des données qui vous concernent. Vous pouvez exercer ce droit en vous
            adressant à "kipik" par courrier à l'adresse suivante :
            contact@anthowebdesign.com
        </p>

        <h3>Informations
            <strong>Propriété intellectuelle</strong>
        </h3>

        <p class="mb-5 mt-2" style="line-height: 2;">
            Le contenu du site [nom de votre site], incluant, de façon non limitative, les textes, photographies,
            infographies et icônes représentant des produits, des marques, des logos, etc. sont la propriété de
            anthowebdesign ou de tiers ayant autorisé anthowebdesign à les utiliser.
            Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du
            site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de
            anthowebdesign.
            Toute exploitation non autorisée du site ou de l'un quelconque des éléments qu'il contient sera considérée
            comme constitutive d'une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et
            suivants du Code de Propriété Intellectuelle.
        </p>

        <h3>Informations
            <strong>Limitation de responsabilité</strong>
        </h3>

        <p class="mt-2" style="line-height: 2;">
            anthowebdesign met tout en œuvre pour offrir aux utilisateurs des informations et/ou outils disponibles et
            vérifiés mais ne saurait être tenue pour responsable des erreurs, d'une absence de disponibilité des
            informations et/ou de la présence de virus sur le site.
            Les informations et/ou outils figurant sur le site sont donnés à titre indicatif, et sont susceptibles
            d'évoluer. Ils ne peuvent engager la responsabilité de anthowebdesign.
            Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources
            présentes sur le réseau Internet, et notamment vers ses partenaires, ont fait l'objet d'une autorisation
            préalable, expresse et écrite de anthowebdesign. Cependant, anthowebdesign n'a pas la possibilité de
            vérifier le contenu des sites ainsi visités, et décline par conséquent toute responsabilité de ce fait.
        </p>
    </div>
{% endblock %}