{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>

        .homeform {
            display: flex;
            flex-direction: column;
            width: 66%;
            justify-content: center;
            margin: auto;
        }

        .inputclass {
            padding: 10px;
            border-radius: 20px;
            margin-bottom: 45px;
        }

        .labelclass {
            margin-bottom: 10px;
        }

        .btn-rechercher {
            width: 33%;
            justify-content: center;
            display: flex;
            margin: 30px auto;
            border-radius: 10px;
        }

        .searchbox {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: auto;
        }
    </style>
    <h1 class="text-center">Rechercher un mot de passe</h1>
    <div class="searchbox">
        <form method="POST" class="form-search homeform">
            {% csrf_token %}
            <label class="labelclass" for="site">Pour le site :</label>
            <input class="inputclass" type="text" name="site" id="site">

            <input type="submit" class="btn btn-success btn-rechercher" value="Rechercher">
        </form>
    </div>

    <div class="box-result-search">
        {% for data in results %}

            <table>
                <tr>
                    <td>Site</td>
                    <td>Enregistrer le</td>
                    <td>MDP généré</td>
                    <td></td>
                </tr>

                <tr>
                    <td>{{ data.site }}</td>
                    <td>{{ data.time }}</td>
                    <td>{{ data.passwords }}</td>

                    <td>
                        <a href="{% url 'deleterecord' data.id %}">
                            <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                        </a>
                    </td>
                </tr>
            </table>

        {% endfor %}
    </div>


{% endblock %}
